.bg-image {
  background-image: url("./images/pexels-karolina-grabowska-4021775.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  border: 2px solid black;
}

.main-buttons {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(66, 184, 144);
}

.about {
  border: 2px solid black;
}
